# Настройки переменных среды для базы данных
PIXPLAZE_DB=pixplaze
PIXPLAZE_DB_DRIVER=org.postgresql.Driver
PIXPLAZE_DB_URL=jdbc:postgresql://localhost:5432/pixplaze
PIXPLAZE_DB_USERNAME=PIXPLAZE_DB_ADMIN
PIXPLAZE_DB_PASSWORD=
# Настройки переменных среды gateway для API и веб-приложения
PIXPLAZE_WEB_API_URL=localhost:8080
PIXPLAZE_WEB_APP_URL=localhost:5173
# Настройки переменных среды с ES256-ключами для подписи токенов
EC_PRIVATE_KEY=
EC_PUBLIC_KEY=
